@import 'variables';


body {
    background-color: var(--background-color-primary);
    height: 100vh;
    margin: 0; 
}

h3 {
    color: var(--primary-text-color);
}
h2 {
    color: var(--primary-text-color);
}
h1 {
    color: var(--primary-text-color);
}
p {
    color: var(--primary-text-color);
}
label {
    color: var(--primary-text-color);
}

details {
    color: var(--primary-text-color);
}

.container {
    margin-top: 56px;
    
}

