@import 'variables';


body {
    background-color: $background-color-primary;
    height: 100vh;
    margin: 0; 
}

h3 {
    color: $primary-text-color;
}
h2 {
    color: $primary-text-color;
}
h1 {
    color: $primary-text-color;
}
p {
    color: $primary-text-color;
}
label {
    color: $primary-text-color;
}

details {
    color: $primary-text-color;
}

.container {
    margin-top: 56px;
}

