@import 'variables';

.navbar {
    width: 250px;
    position: fixed;
    height: 100vh;
    backdrop-filter: blur(var(--transparency-blur));
    border-right: 1px solid rgba(255, 255, 255, calc(var(--transparency) + 0.25));
    z-index: 1;
    overflow: hidden; 
}

.navbar::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color-secondary);
    opacity: var(--transparency); 
    z-index: -1; 
}

.navbar-inner {
    text-align: center;

}

.navbar-link {
    margin-top: 0px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.0);
}

.navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-link-inner a {
    text-decoration: none;
    color: var(--primary-text-color);
    filter: drop-shadow(5px 5px 20px var(--primary-text-color));
}