.navbar {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
    height: 100vh;
    backdrop-filter: blur(11px);
}

.navbar-inner {
    text-align: center;

}

.navbar-link {
    margin-top: 0px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.0);
}

.navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

