@import 'variables';

.topbar {
    top: 0;
    background-color: rgba(255, 255, 255, var(--transparency));
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(var(--transparency-blur));
    height: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, calc(var(--transparency) + 0.25));
}

.current-page-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.navbar-container {
    position: relative;
    z-index: 1; 
    top: 0;
    

}

.open-navbar-container {
    position: fixed;
}

.open-navbar-btn {
    text-align: center;
}