@import 'variables';

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(var(--transparency-blur));
    height: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, calc(var(--transparency) + 0.25));
    z-index: 1;
    overflow: hidden; 
}

.topbar::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color-secondary);
    opacity: var(--transparency); 
    z-index: -1; 
  
}
.current-page-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.navbar-container {
    position: relative;
    z-index: 1; 
    top: 0;
    

}

.open-navbar-container {
    position: fixed;
}

.open-navbar-btn {
    text-align: center;
}