$primary-text-color: #ffffff;
$primary-color: rgb(45, 45, 221);
$secondary-color: rgb(132, 178, 230);
$background-color-primary: rgb(8, 8, 107);
$background-color-secondary: rgb(11, 11, 129);


$secondary-grey: rgb(209, 208, 208);
$primary-grey: rgb(117, 117, 117);

$font-size: 16px;